body {
    font-family: 'Noto Sans SC', sans-serif;
    margin: 0px;
    background-color: #f1f1f1;
}

.logo {
    width: 150px;
}

li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-left: 70px;
}

.links {
    padding: 10px 10px 10px 10px;
}

.nav a,
a {
    text-decoration: none;
    color: #000;
    font-size: large;
}

.links:hover {
    background-color: #fd7e14;
    color: #fff;
    padding: 10px;
}

.menu {
    background-color: #f1f1f1;
    font-size: large;
    text-align: center;
    border: 2px solid rgb(153, 151, 151);
    display: flex;
    position: sticky;
    top: 0px;
    padding: 5px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
    opacity: .9;
    z-index: 3;
}

a {
    margin-left: 10px;
}

.logo img {
    width: 58%;
    margin-top: 5px;
    margin-left: 10px;
}

.checked_link {
    background-color: #fd7e14;
    color: #fff;
    padding: 10px;
}


/* <Web face> */

.back_ground {
    height: 600vh;
    width: 100%;
    background: rgba(0, 0, 0, .5) url(../69.jpg);
    background-blend-mode: darken;
    position: absolute;
    top: 0;
    background-size: cover;
    z-index: 1;
}

.container {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    left: -58px;
}

img {
    width: 70%;
    margin-left: 40px;
}

.content {
    display: flex;
    margin-left: -10px;
    color: #f1f1f1;
    font-size: 18px;
     background-color: black;
}

.content_1 {
    padding: 10px;
    width: 250px;
    margin-left: 20px;
}

.content_2 {
    padding: 10px;
    width: 250px;
}

p {
    text-align: center;
    font-size: x-large;
    margin-left: -70px;
    color: #f1f1f1;
    background-color: #16a085;
}

li.sss {
    margin-left: 10px;
    padding: 5px;
    list-style: none;
}

h2 {
    background-color: #92673c;
    color: #f1f1f1;
    padding: 10px;
}


/* Garllery */

.ga {
    z-index: 5;
    position: relative;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.bk {
    width: 30%;
    padding: 5px;
}

.bk img {
    width: 80%;
    border: 1px solid red;
}

h1 {
    text-align: center;
    color: #f1f1f1;
    padding: 10px;
    position: relative;
    z-index: 5;
    margin-left: -7%;
    background-color: #16a085;
}

#bbk img {
    height: 100%;
}


/* Responsive */

@media all and (max-width:1326px) {
    li {
        margin-left: 40px;
    }
    .menu {
        margin-bottom: 15px;
    }
}

@media all and (max-width:990px) {
    li {
        margin-left: 20px;
        padding: 4px;
    }
    .links {
        padding: 5px;
    }
    .logo img {
        width: 50%;
    }
    .links:hover {
        padding: 10px 0px 10px 0px;
    }
    .nav {
        margin-top: 4px;
    }
}

@media all and (min-width: 668px) and (max-width: 778px) {
    li {
        margin-left: 7px;
        padding: 3px;
        margin-top: 9px;
    }
    .links {
        padding: 3px;
    }
    .menu {
        font-size: small;
    }
    .links:hover {
        padding: 10px 0px 10px 0px;
    }
}

@media (max-width:734px) {
    li {
        padding: 3px;
    }
    .logo img {
        width: 100%;
        margin-top: 19px;
    }
    .logo {
        width: 50px;
    }
}

@media all and (max-width: 667px) {
    .menu {
        font-size: 4px;
    }
    li {
        margin: 0px;
        padding: 2px;
    }
    .links {
        padding: 1px;
    }
    .checked_link {
        padding: 4px;
    }
    .logo img {
        width: 80%;
        position: relative;
        left: -2px;
        margin-top: -3px;
    }
    .logo {
        width: 80px;
    }
    .nav {
        top: 5px;
        position: relative;
        left: -40px;
    }
    .links:hover {
        padding: 10px 0px 10px 0px;
    }
    .content {
        display: block;
        margin-left: 0px;
    }
    h2 {
        text-align: left;
        margin-left: 20px;
    }
    .content_1,
    .content_2 {
        margin-left: 30px;
    }
}

@media all and (max-width: 550px) {
    .menu {
        font-size: 2px;
    }
    li {
        margin: 0px;
        padding: 0px;
    }
    .links {
        padding: 1px;
    }
    .checked_link {
        padding: 3px;
    }
    .logo img {
        width: 80%;
        position: relative;
        left: -2px;
        margin-top: 1px;
    }
    .logo {
        width: 60px;
    }
    .nav {
        top: 6.5px;
        position: relative;
        left: -40px;
    }
    .links:hover {
        padding: 10px 0px 10px 0px;
    }
}

@media all and (max-width: 1435px) {
    .bk {
        width: 45%;
    }
    #bbk img {
        height: 71%;
    }
}

@media all and (max-width: 887px) {
    .bk {
        width: 90%;
    }
    .back-ground {
        height: 900vh;
    }
}
@media all and (max-height:660px) {
    .back-ground {
        height: 900vh;
    }
}
